body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    color: #333;
}

.container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}
